@font-face { 
  font-family: minecraft;
  src: url(./assets/fonts/MinecraftRegular-Bmg3.otf);
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: minecraft;
  font-size: 1.5rem;
  color: white;
}

#crosshair {
  position: absolute;
  width: 1.5%;
  z-index: 10;
}

#pickaxe {
  position: absolute;
  width: 35%;
  bottom: 0;
  right: 0;
  transition-duration: 0.1s;
  transition-property: transform margin;
  margin-bottom: -150px;
  margin-right: -150px;
  transform: rotateY(140deg) rotateZ(-70deg);
  z-index: 10;
}

.hit {
  margin-bottom: -50px !important;
  margin-right: 150px !important;
  transform: rotateY(120deg) rotateZ(0deg) scale(80%) !important;
}

#item-bar {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  bottom: 20px;
  display: flex;
  height: 60px;
  width: 600px;
  z-index: 10;
}

#item-bar > div {
  flex: 1;
  background-color: rgba(61, 63, 38, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

#item-bar > div {
  position: relative;
}

#item-bar > div > div {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
}

#item-bar > div > img {
  height: 45px;
  width: 45px;
}

.option-buttons {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  margin: 10px;
  width: 50%;
  z-index: 10;
}

.option-buttons > *:not(:first-child) {
  margin-left: 10px;
}

.option-buttons > a > div > img {
  height: 30px;
}

#github-link, #linkedin-link {
  width: 40px;
}

.button-container {
  width: 30%;
  height: 40px;
  border: 2px solid black;
  border-right: 6px solid black;
  border-bottom: 7px solid black;
}

.button {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid rgb(89, 89, 89);
  border-right: 2px solid rgb(89, 89, 89);
  border-top: 2px solid rgb(162, 162, 162);
  border-left: 2px solid rgb(162, 162, 162);
  background-color: rgb(104, 104, 104);
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: rgb(133, 133, 133);
}

.content {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile {
  display: none;
}

#professional-experience-modal,
#education-modal,
#personal-projects-modal,
#competitions-modal,
#leadership-modal,
#hobbies-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 70%;
  height: 90%;
  border-top: 3px solid black;
  border-right: 9px solid black;
  border-bottom: 9px solid black;
  border-left: 3px solid black;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgb(198, 198, 198);
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid rgb(85, 85, 85);
  border-bottom: 3px solid rgb(85, 85, 85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__container {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.modal__container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__container__header__title {
  color: black;
  font-size: 2rem;
  flex: 1;
}

.modal__container__content {
  overflow-y: scroll;
}

.entity {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  color: black;
  font-size: 1.75rem;
}

.secondary-title {
  color: blue;
}

.date-location {
  color: green;
  font-size: 1.25rem;
}

.description {
  color: gray;
}

.close_button {
  width: 150px;
}

.links {
  display: flex;
}

.links > a {
  width: 200px;
}

.links > a:not(:first-child) {
  margin-left: 1rem;
}

@media screen and (max-width : 1024px) {
  .content {
    display: none;
  }

  .mobile {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/backgrounds/dirt-background.jpeg);
    background-repeat: repeat;
    z-index: 100;
  }

  .mobile > .button-container {
    width: 80%;
    margin-top: 15px;
  }
}