@font-face { 
  font-family: minecraft;
  src: url(../assets/fonts/MinecraftRegular-Bmg3.otf);
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: minecraft;
  font-size: 1.5rem;
  color: white;
}

#crosshair {
  position: absolute;
  width: 1.5%;
}

#pickaxe {
  position: absolute;
  width: 35%;
  bottom: 0;
  right: 0;
  transition-duration: 0.1s;
  transition-property: transform margin;
  margin-bottom: -150px;
  margin-right: -150px;
  transform: rotateY(140deg) rotateZ(-70deg);
}

.hit {
  margin-bottom: -50px !important;
  margin-right: 150px !important;
  transform: rotateY(120deg) rotateZ(0deg) scale(80%) !important;
}

#item-bar {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  bottom: 20px;
  display: flex;
  height: 60px;
  width: 600px;
}

#item-bar > div {
  flex: 1;
  background-color: rgba(61, 63, 38, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

#item-bar > div > img {
  height: 45px;
  width: 45px;
}

.button-container {
  width: 30%;
  height: 40px;
  border: 2px solid black;
  border-right: 6px solid black;
  border-bottom: 7px solid black;
}

.button {
  height: 100%;
  width: 100%;;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid rgb(89, 89, 89);
  border-right: 2px solid rgb(89, 89, 89);
  border-top: 2px solid rgb(162, 162, 162);
  border-left: 2px solid rgb(162, 162, 162);
  background-color: rgb(104, 104, 104);
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: rgb(133, 133, 133);
}